# Dependencies
node_modules/
**/node_modules/

# Python envs
.venv/
venv/
**/.venv/
**/venv/

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Local model artifacts
my_local_model/
**/my_local_model/

# Build outputs
dist/
**/dist/

# Env files
.env
**/.env
